*
{
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
  
body {
  min-height: 100dvh; 
}
input,
button,
textarea,
select {
  font: inherit;
}
  
p {
  text-wrap: pretty;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
  
img,
video,
svg {
  height: auto;
  max-width: 100%;
}
  
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
  
body{
  font-family: "Winky Rough";
  
}

h1{
  font-family: "Lobster";
  font-size: 3em;
 }

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.6em;
}

p{
  font-size: 1em;
}





